h1 {
  margin: 40px 0 0;
  color: #424ab9;
  font-family: 'KopubWorld-Dotum';
}

#main-logo {
  width: 80%;
  min-width: 200px;
  max-width: 570px;
}

.mt-large {
  margin-top: 35vh;
}

span {
  font-size: 15px;
}

#login-btn {
  width: 90%;
  min-width: 180px;
  max-width: 360px;
}
