h1 {
  font-size: 24px;
}

#noArticle {
  margin-top: 7rem;
}
#no-article-img {
  width: 40%;
  min-width: 130px;
  max-width: 570px;
}

::v-deep .swiper {
  &-wrapper {
    height: auto !important;
  }
  &-container {
    height: 480px !important;
  }
  &-slide-active {
    z-index: 999;
  }
}
::v-deep .swiper-slide {
  transition: 0s;
  transform-origin: center center;
}
::v-deep .swiper-slide-prev {
  right: -200px;
  transform: scale(0.6);
  filter: blur(4px);
}

::v-deep .swiper-slide-next {
  left: -200px;
  transform: scale(0.6);
  filter: blur(4px);
}

small {
  position: relative;
  top: -12px;
}

#blankCard {
  width: 100%;
  height: 440px;
  max-width: 270px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
  background-image: url('https://media.vlpt.us/images/moseok/post/d5fc5a23-df52-49d5-8a4a-def434e85ae2/%EA%B7%B8%EB%A3%B9%2088@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
