h2 {
  font-size: 20px;
}

::v-deep label {
  text-align: left;
  font-weight: 400;
}

::v-deep input {
  border-radius: 6px;
}

::v-deep button {
  border: none;
  &:focus:not(:active) {
    box-shadow: none;
  }
  border-radius: 12px;
  & span {
    font-size: 14px;
  }
}

.active {
  background: #49f749 !important;
  color: black !important;
  transition: 0.4s ease-in-out;
}

.input-container i {
  right: 10px;
  top: 44px;
}

input {
  outline: none;
  border-radius: 6px;
  background-color: white;
  border-color: #dbdbdb;
  border: 1px solid #dbdbdb;
  color: #363636;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  &:focus:not(.is-danger) {
    border-color: #28f92d;
    box-shadow: 0 0 0 0.125em rgba(40, 249, 45, 0.25);
  }
}
