#signUp-progress {
  max-width: 375px;
  border-radius: 0;
  height: 2px;
  top: 0;
  width: 100%;
}
::v-deep .progress,
.progress-wrapper.is-not-native {
  border-radius: 0 !important;
  width: 99%;
}
.container {
  height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: 309px 407px;
  background-position: 180% bottom;
}
#job-img {
  // overflow: hidden;
  // width: 309px;
  // height: 407px;
  // position: fixed;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-20%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% bottom;
}

li {
  text-align: left;
}
#step-3 li {
  font-size: 32px;
}

#step-3 li {
  font-size: 24px;
}

img#start-char {
  width: 45%;
  min-width: 100px;
  max-width: 500px;
}

#login-btn {
  width: 90%;
  min-width: 180px;
  max-width: 360px;
}
.font-20 {
  font-size: 20px;
}
.mt-large {
  margin-top: 30vh;
}
